*{
    padding: 0px;
    margin: 0PX;

    font-family: "EB Garamond", serif;
}
ul{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
  
}
nav{
    position: sticky;
    top: 0px;
}
ul li{
    margin: 10px;
}
a{
    text-decoration: none;
}
a:hover{


}
#fh{
    font-family: "Sevillana", cursive;
    font-size: large;
    font-weight: 700px;
    position: absolute;
    top: 20%;
    left: 20%;
}
